(
    rules: [
        (
            matches: ["www"],
            queries: [(
                name: "Open Website",
                query: "http://",
                icon: "https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Crystal128-browser.svg/179px-Crystal128-browser.svg.png",
            )],
        ),
        (
            matches: ["j", "journal"],
            queries: [(name: "Journal", query: "obsidian://open")]
        ),
        (
            matches: ["jq"],
            queries: [(name: "Journal Query", query: "obsidian://search?query=")]
        ),
        (
            matches: ["jf"],
            queries: [(name: "Go to Journal File", query: "obsidian://open?file=")]
        ),
        (
            matches: ["jn"],
            queries: [(name: "Create new Journal File", query: "obsidian://new?file=")]
        ),
    ]
)

